.login-card {
    background: linear-gradient(135deg, #2e3f57, #5a7c9d);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
}

.light-text {
    color: #ffffff;
}